@model bool

@{
    var showCreate = Model;
}

<link rel="stylesheet" href="~/css/components/employee/employee-layout.css" />

<div class="page-title-row">
    <h2 class="page-title">Medewerkers Beheer</h2>

    @if (showCreate)
    {
        <a href="@Url.Action("Index", "Employee")"
               class="btn-close-form preserve-scroll">
            Sluiten
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", "Employee", new { showCreate = true })"
               class="btn-new preserve-scroll">
            + Nieuwe Medewerker
        </a>
    }
</div>
