@model Someren.Models.Drink

<p>
    Drink: @Model.DrinkName
    Price: @Model.Price
    Alcoholic:@if (Model.Alcoholic)
    {
        <span>✅</span>
    }
    else
    {

        <span>❌</span>
    }
</p>