@model IEnumerable<Chapeau.Models.OrderItem>

<table class="table table-striped table-hover payment-items-table">
    <thead class="table-dark">
        <tr>
            <th>Item</th>
            <th>Aantal</th>
            <th>Stukprijs</th>
            <th>BTW-tarief</th>
            <th>Subtotaal</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="item-name">@item.Name</td>
                <td>@item.Amount</td>
                <td class="item-price">€@item.Price.ToString("F2")</td>
                <td>@((item.VATRate * 100).ToString("F0"))%</td>
                <td>
                    <small>Excl.: €@item.Subtotal.ToString("F2")</small><br />
                    <small>VAT: €@item.VATAmount.ToString("F2")</small><br />
                    <strong>€@item.TotalWithVat.ToString("F2")</strong>
                </td>
            </tr>
            @if (!string.IsNullOrEmpty(item.Comment))
            {
                <tr>
                    <td colspan="5" class="item-comment">Opmerking: @item.Comment</td>
                </tr>
            }
        }
    </tbody>
</table>