@model Chapeau.Components.ManageMenuHeader.ManageMenuHeaderModel

<link rel="stylesheet" href="~/css/components/manage-menu/manage-menu-layout.css" />

<div class="page-title-row">
    <h2 class="page-title">Menu Beheer</h2>

    @if (Model.ShowCreate)
    {
        <a href="@Url.Action("Index", "ManageMenu", new { cardId = Model.SelectedCardId, categoryId = Model.SelectedCategoryId })"
           class="btn-close-form preserve-scroll">
            Sluiten
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", "ManageMenu", new { showCreate = true, cardId = Model.SelectedCardId, categoryId = Model.SelectedCategoryId })"
           class="btn-new preserve-scroll">
            + Nieuw Item
        </a>
    }
</div>
